<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="None">
        
        <link rel="canonical" href="https://mmalcek.github.io/bafi/">
        <link rel="shortcut icon" href="img/favicon.ico">
        <title>BaFi</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/fontawesome.min.css" rel="stylesheet">
        <link href="css/brands.min.css" rel="stylesheet">
        <link href="css/solid.min.css" rel="stylesheet">
        <link href="css/v4-font-face.min.css" rel="stylesheet">
        <link href="css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/lua.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/powershell.min.js"></script>
        <script>hljs.highlightAll();</script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GE1PDVJERL"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', "G-GE1PDVJERL");
        </script> 
    </head>

    <body class="homepage">
        <div class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href=".">BaFi</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="." class="nav-link active" aria-current="page">Application</a>
                            </li>
                            <li class="nav-item">
                                <a href="examples/" class="nav-link">Examples</a>
                            </li>
                            <li class="nav-item">
                                <a href="about/" class="nav-link">About</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" class="nav-link disabled">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="examples/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#bafi" class="nav-link">BaFi</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#key-features" class="nav-link">Key features</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#how-does-it-work" class="nav-link">How does it work?</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#online-demo-wasm" class="nav-link">Online demo (WASM)</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#command-line-arguments" class="nav-link">Command line arguments</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#templates" class="nav-link">Templates</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="3"><a href="#comments" class="nav-link">Comments</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="3"><a href="#trim-new-line" class="nav-link">Trim new line</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="3"><a href="#accessing-data" class="nav-link">Accessing data</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="3"><a href="#variables" class="nav-link">Variables</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="3"><a href="#actions" class="nav-link">Actions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="3"><a href="#functions" class="nav-link">Functions</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="4"><a href="#native-functions" class="nav-link">Native functions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="4"><a href="#additional-functions" class="nav-link">Additional functions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="4"><a href="#lua-custom-functions" class="nav-link">Lua custom functions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="bafi">BaFi</h1>
<p><strong>Universal JSON, BSON, YAML, CSV, XML, mt940 translator to ANY format using templates</strong></p>
<p><strong>Github repository</strong></p>
<ul>
<li><a href="https://github.com/mmalcek/bafi">https://github.com/mmalcek/bafi</a></li>
</ul>
<p><strong>Releases (Windows, MAC, Linux)</strong></p>
<ul>
<li><a href="https://github.com/mmalcek/bafi/releases">https://github.com/mmalcek/bafi/releases</a></li>
</ul>
<h2 id="key-features">Key features</h2>
<ul>
<li>Various input formats <strong>(json, bson, yaml, csv, xml, mt940)</strong></li>
<li>Flexible output formatting using text templates</li>
<li>Output can be anything: HTML page, SQL Query, Shell script, CSV file, ...</li>
<li>Support for <a href="https://www.lua.org/pil/contents.html">Lua</a> custom functions which allows very flexible data manipulation</li>
<li>stdin/stdout support which allows get data from source -&gt; translate -&gt; delivery to destination. This allows easily translate data between different web services like <strong>REST to SOAP, SOAP to REST, REST to CSV, ...</strong></li>
<li>Merge multiple input files in various formats into single output file formated using template</li>
<li>Support chatGPT queries to analyze or format data (experimental)</li>
</ul>
<p><img src="img/scheme.svg" style="border: 0;" height="150px" /></p>
<p><a href="https://github.com/mmalcek/bafi/actions/workflows/go.yml"><img alt="Go" src="https://github.com/mmalcek/bafi/actions/workflows/go.yml/badge.svg" /></a>
<a href="https://github.com/mmalcek/bafi/actions/workflows/codeql-analysis.yml"><img alt="CodeQL" src="https://github.com/mmalcek/bafi/actions/workflows/codeql-analysis.yml/badge.svg" /></a>
<a href="https://goreportcard.com/report/github.com/mmalcek/bafi"><img alt="Go Report Card" src="https://goreportcard.com/badge/github.com/mmalcek/bafi" /></a>
<a href="https://github.com/mmalcek/bafi/blob/main/LICENSE"><img alt="License" src="https://img.shields.io/github/license/mmalcek/bafi" /></a>
<a href="https://github.com/avelino/awesome-go#text-processing"><img alt="Mentioned in Awesome Go" src="https://awesome.re/mentioned-badge.svg" /></a>
<a href="https://github.com/mmalcek/bafi/releases/latest"><img alt="GitHub tag (latest by date)" src="https://img.shields.io/github/v/tag/mmalcek/bafi?label=latest%20release" /></a></p>
<!--![GitHub All Releases Downloads](https://img.shields.io/github/downloads/mmalcek/bafi/total)-->

<p><strong>If you like this app you can buy me a coffe ;)</strong></p>
<p><a href='https://ko-fi.com/mmalcek' target='_blank'>
    <img height='40' style='border:0px;height:50px;' src='https://az743702.vo.msecnd.net/cdn/kofi3.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' />
</a></p>
<h2 id="how-does-it-work">How does it work?</h2>
<p>Application automaticaly parse input data into object which can be simply accessed in tamplate using dot notation where first dot represent root of object <strong>{{ . }}</strong>.</p>
<p>For example JSON document <strong>myUser.json</strong></p>
<pre><code class="language-json">{
  &quot;user&quot;: {
    &quot;name&quot;: &quot;John Doe&quot;,
    &quot;age&quot;: 25,
    &quot;address&quot;: {
      &quot;street&quot;: &quot;Main Street&quot;,
      &quot;city&quot;: &quot;New York&quot;,
      &quot;state&quot;: &quot;NY&quot;
    },
    &quot;favourite_colors&quot;: [&quot;red&quot;, &quot;green&quot;, &quot;blue&quot;]
  }
}
</code></pre>
<ul>
<li>Get user name:</li>
</ul>
<pre><code class="language-sh">bafi.exe -i myUser.json -t '?{{.user.name}}'
</code></pre>
<ul>
<li>Use function to change all letters to uppercase:</li>
</ul>
<pre><code class="language-sh">bafi.exe -i myUser.json -t '?{{upper .user.name}}'
</code></pre>
<ul>
<li>Use IF statement to compare user age to 20:</li>
</ul>
<pre><code class="language-sh">bafi.exe -i myUser.json -t '?User is {{if gt (toInt .user.age) 20}}old{{else}}young{{end}}.'
</code></pre>
<ul>
<li>List favourite colors:</li>
</ul>
<pre><code class="language-sh">bafi.exe -i myUser.json -t '?{{range .user.favourite_colors}}{{.}},{{end}}'
</code></pre>
<ul>
<li>Format data using template file <strong>myTemplate.tmpl</strong> and save output to <strong>myUser.txt</strong>:</li>
</ul>
<pre><code class="language-sh">bafi.exe -i myUser.json -t myTemplate.tmpl -o myUser.txt
</code></pre>
<pre><code>{{- /* Content of myTemplate.tmpl file */ -}}
User: {{.user.name}}
Age: {{.user.age}}
Address: {{.user.address.street}}, {{.user.address.city}} - {{.user.address.state}}
{{- /* Create list of colors and remove comma at the end */ -}}
{{- $colors := &quot;&quot;}}{{range .user.favourite_colors}}{{$colors = print $colors . &quot;, &quot;}}{{end}}
{{- $colors = print (trimSuffix $colors &quot;, &quot; )}}
Favourite colors: {{$colors}}
</code></pre>
<p>note: in Powershell you must use <span style="color:red; font-weight: bold;">.\</span>bafi.exe e.g.</p>
<pre><code class="language-powershell">.\bafi.exe -i input.csv -t &quot;?{{toXML .}}&quot;
curl.exe -s someurl.com/api/xxx | .\bafi.exe -f json -t &quot;?{{toXML .}}&quot;
</code></pre>
<p>More examples <a href="examples/#template">here</a></p>
<script src="js/wasm_exec.js"></script>
<script>
const go = new Go();
WebAssembly
  .instantiateStreaming(fetch('js/bafi.wasm'), go.importObject)
  .then((result) => { go.run(result.instance)});
function getBAFI() {
    let input1 = document.getElementById("input1").value;
    let input2 = document.getElementById("input2").value;
    let format = document.getElementById("format").value;
    var element = document.getElementById("bafiData");
    element.innerHTML = bafi(input1,input2,format); 
}
</script>

<h2 id="online-demo-wasm">Online demo (WASM)</h2>
<p><strong>Just try it here :)</strong></p>
<textarea type="text" id="input1" rows="13" cols="40">
{
"user": {
"name": "John Doe",
"age": 25,
"address": {
"street": "Main Street",
"city": "New York",
"state": "NY"
},
"favourite_colors": ["red", "green", "blue"]
}
}
</textarea>

<textarea type="text" id="input2" rows="13" cols="40">
Hello {{upper .user.name}},

you are {{.user.age}} years old
and live in {{.user.address.city}}, {{.user.address.state}}.
Your favourite colors are:
{{range .user.favourite_colors}} {{.}}
{{end}}
</textarea>
<p><br />
<select name="format" id="format"></p>
<option value="json">JSON</option>
<option value="xml">XML</option>
<option value="yaml">YAML</option>
<option value="csv">CSV</option>
<p></select>
<button type="button" onClick="getBAFI()">Create OUTPUT</button></p>
<pre style="max-width: 600px; min-height:200px"  id="bafiData"></pre>

<h2 id="command-line-arguments">Command line arguments</h2>
<ul>
<li><strong>-i input.xml</strong> Input file name.</li>
<li>If not defined app tries read stdin</li>
<li>If prefixed with "?" (<strong>-i ?files.yaml</strong>) app will expect yaml file with multiple files description. See <a href="examples/#multiple-input-files">example</a></li>
<li><strong>-o output.txt</strong> Output file name.</li>
<li>If not defined result is send to stdout</li>
<li><strong>-t template.tmpl</strong> Template file. Alternatively you can use <em>inline</em> template</li>
<li>inline template must start with <strong>?</strong> e.g. -t <strong>"?{{.someValue}}"</strong></li>
<li><strong>-f json</strong> Input format.</li>
<li>Supported formats: <strong>json, bson, yaml, csv, xml, mt940</strong></li>
<li>If not defined (for file input) app tries detect input format automatically by file extension</li>
<li><strong>-d ','</strong> Data delimiter</li>
<li>format CSV:<ul>
<li>Can be defined as string e.g. -d ',' or as <a href="https://www.asciitable.com/asciifull.gif">hex</a> value prefixed by <strong>0x</strong> e.g. 'TAB' can be defined as -f 0x09. Default delimiter is comma (<strong>,</strong>)</li>
</ul>
</li>
<li>format mt940:<ul>
<li>For Multiple messages in one file (e.g. Multicash). Can be defined as string e.g. -d "-}\r\n" or "\r\n$" . If delimiter is set BaFi will return array of mt940 messages</li>
</ul>
</li>
<li><strong>-v</strong> Show current verion</li>
<li><strong>-h</strong> list available command line arguments</li>
<li><strong>-gk myChatGPTToken</strong> - ChatGPT token</li>
<li><strong>-gq "What's the current CZK rate?"</strong> - ChatGPT query</li>
<li><strong>-gm gpt35</strong> - ChatGPT model. Currently supportsed options "gpt35"(default), "gpt4", "gpt4o", "gpt4o-mini"</li>
</ul>
<pre><code class="language-sh">bafi.exe -i testdata.xml -t template.tmpl -o output.txt
</code></pre>
<p>More examples <a href="examples/#command-line">here</a></p>
<h2 id="templates">Templates</h2>
<p>Bafi uses <a href="https://pkg.go.dev/text/template">text/template</a>. Here is a quick summary how to use. Examples are based on <em>testdata.xml</em> included in project</p>
<p>note: in <strong>vscode</strong> you can use <a href="https://marketplace.visualstudio.com/items?itemName=casualjim.gotemplate">gotemplate-syntax</a> for syntax highlighting</p>
<h3 id="comments">Comments</h3>
<pre><code>{{/* a comment */}}
{{- /* a comment with white space trimmed from preceding and following text */ -}}
</code></pre>
<h3 id="trim-new-line">Trim new line</h3>
<p>New line before or after text can be trimmed by adding dash</p>
<pre><code>{{- .TOP_LEVEL}}, {{.TOP_LEVEL -}}
</code></pre>
<h3 id="accessing-data">Accessing data</h3>
<p>Data are accessible by <em>pipline</em> which is represented by dot</p>
<ul>
<li>Simplest template</li>
</ul>
<pre><code>{{.}}
</code></pre>
<ul>
<li>Get data form inner node</li>
</ul>
<pre><code>{{.TOP_LEVEL}}
</code></pre>
<ul>
<li>Get data from XML tag. XML tags are autoprefixed by dash and accessible as index</li>
</ul>
<pre><code>{{index .TOP_LEVEL &quot;-description&quot;}}
</code></pre>
<ul>
<li>Convert TOP_LEVEL node to JSON</li>
</ul>
<pre><code>{{toJSON .TOP_LEVEL}}
</code></pre>
<h3 id="variables">Variables</h3>
<p>You can store selected data to <a href="https://pkg.go.dev/text/template#hdr-Variables">template variable</a></p>
<pre><code>{{$myVar := .TOP_LEVEL}}
</code></pre>
<h3 id="actions">Actions</h3>
<p>Template allows to use <a href="https://pkg.go.dev/text/template#hdr-Actions">actions</a>, for example</p>
<p>Iterate over lines</p>
<pre><code>{{range .TOP_LEVEL.DATA_LINE}}{{.val1}}{{end}}
</code></pre>
<p>If statement</p>
<pre><code>{{if gt (int $val1) (int $val2)}}Value1{{else}}Value2{{end}} is greater
</code></pre>
<h3 id="functions">Functions</h3>
<p>In go templates all operations are done by functions where function name is followed by operands</p>
<p>For example:</p>
<p>count val1+val2</p>
<pre><code>{{add $val1 $val2}}
</code></pre>
<p>count (val1+val2)/val3</p>
<pre><code>{{div (add $val1 $val2) $val3}}
</code></pre>
<p>This is called <a href="https://en.wikipedia.org/wiki/Polish_notation">Polish notation</a> or "Prefix notation" also used in another languages like <a href="https://en.wikipedia.org/wiki/Lisp_(programming_language)">Lisp</a></p>
<p>The key benefit of using this notation is that order of operations is clear. For example <strong>6/2*(1+2)</strong> - even diferent calculators may have different opinion on order of operations in this case. With Polish notation order of operations is strictly defined (from inside to outside) <strong>div 6 (mul 2 (add 1 2))</strong> . This brings benefits with increasing number of operations especially in templates where math and non-math operations can be mixed together.</p>
<p><img src="img/calc.jpg" height="160px"></p>
<p>For example we have json array of items numbered from <strong>0</strong></p>
<pre><code class="language-json">{ &quot;items&quot;: [&quot;item-0&quot;, &quot;item-1&quot;, &quot;item-2&quot;, &quot;item-3&quot;] }
</code></pre>
<p>We need change items numbering to start with <strong>1</strong>. To achieve this we have to do series of operations: 1. trim prefix "item-" -&gt; 2. convert to int -&gt; 3. add 1 -&gt; 4. convert to string -&gt; 5. append "item-" for all items in range. This can be done in one line</p>
<pre><code>{{ range .items }}{{ print &quot;item-&quot; (toString (add1 (toInt (trimPrefix . &quot;item-&quot;)))) }} {{ end }}
</code></pre>
<p>or alternatively (slightly shorter) print formatted string - examples <a href="https://zetcode.com/golang/string-format/">here</a>, documentation <a href="https://golang.org/pkg/fmt/">here</a></p>
<pre><code>{{ range .items }}{{ printf &quot;item-%d &quot; (add1 (toInt (trimPrefix . &quot;item-&quot;))) }}{{ end }}
</code></pre>
<p>but BaFi also tries automaticaly cast variables so the shortest option is</p>
<pre><code>{{range .items}}{{print &quot;item-&quot; (add1 (trimPrefix . &quot;item-&quot;))}} {{end}}
</code></pre>
<p>Expected result: <strong>item-1 item-2 item-3 item-4</strong></p>
<p>There are 3 categories of functions</p>
<h4 id="native-functions">Native functions</h4>
<p>text/template integrates <a href="https://pkg.go.dev/text/template#hdr-Functions">native functions</a> to work with data</p>
<h4 id="additional-functions">Additional functions</h4>
<p>Asside of integated functions bafi contains additional common functions</p>
<h5 id="math-functions">Math functions</h5>
<ul>
<li><strong>add</strong> - {{add .Value1 .Value2}}</li>
<li><strong>add1</strong> - {{add1 .Value1}} = Value1+1</li>
<li><strong>sub</strong> - substract</li>
<li><strong>div</strong> - divide</li>
<li><strong>mod</strong> - modulo</li>
<li><strong>mul</strong> - multiply</li>
<li><strong>randInt</strong> - return random integer {{randInt .Min .Max}}</li>
<li><strong>add1f</strong> - "...f" functions parse float but provide <strong>decimal</strong> operations using <a href="https://github.com/shopspring/decimal">shopspring decimal</a></li>
<li><strong>addf</strong></li>
<li><strong>subf</strong></li>
<li><strong>divf</strong></li>
<li><strong>mulf</strong></li>
<li><strong>round</strong> - {{round .Value1 2}} - will round to 2 decimals</li>
<li><strong>max</strong> - {{round .Value1 .Value2 .Value3 ...}} get Max value from range</li>
<li><strong>min</strong> - get Min value from range</li>
<li><strong>maxf</strong></li>
<li><strong>minf</strong></li>
</ul>
<h5 id="date-functions">Date functions</h5>
<ul>
<li><strong>dateFormat</strong> - {{dateFormat .Value "oldFormat" "newFormat"}} - <a href="https://programming.guide/go/format-parse-string-time-date-example.html">GO time format</a></li>
<li>{{dateFormat "2021-08-26T22:14:00" "2006-01-02T15:04:05" "02.01.2006-15:04"}}</li>
<li><strong>dateFormatTZ</strong> - {{dateFormatTZ .Value "oldFormat" "newFormat" "timeZone"}}</li>
<li>This fuction is similar to dateFormat but applies timezone offset - <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">Timezones</a></li>
<li>{{dateFormatTZ "2021-08-26T03:35:00.000+04:00" "2006-01-02T15:04:05.000-07:00" "02.01.2006-15:04" "Europe/Prague"}}</li>
<li><strong>dateToInt</strong> - {{dateToInt .Value "dateFormat"}} - convert date to integer (unixtime, int64), usefull for comparing dates</li>
<li><strong>intToDate</strong> - {{intToDate .Value "dateFormat"}} - convert integer (unixtime, int64) to date, usefull for comparing dates</li>
<li><strong>now</strong> - {{now "02.01.2006"}} - GO format date (see notes below)</li>
</ul>
<h5 id="string-functions">String functions</h5>
<ul>
<li><strong>addSubstring</strong> - {{addSubstring $myString, "XX", $position}} add substring to $position in string (if $position is 1,2,3 = Adding from right, if -1,-2,-3 = Adding from left)</li>
<li><strong>atoi</strong> - {{atoi "042"}} - string to int. Result will be 42. atoi must be used especially for convert strings with leading zeroes</li>
<li><strong>b64enc</strong> - encode to base64</li>
<li><strong>b64dec</strong> - decode from base64</li>
<li><strong>b32enc</strong> - oncode to base32</li>
<li><strong>b32dec</strong> - decode from base32</li>
<li><strong>contains</strong> - check if string contains substring e.g. {{contains "aaxbb" "xb"}}</li>
<li><strong>indexOf</strong> - {{indexOf "aaxbb" "xb"}} - returns indexOf first char of substring in string</li>
<li><strong>isArray</strong> - {{isArray .Value1}} - check if value is array</li>
<li><strong>isBool</strong> - {{isBool .Value1}} - check if value is bool</li>
<li><strong>isInt</strong> - {{isInt .Value1}} - check if value is int</li>
<li><strong>isFloat64</strong> - {{isFloat64 .Value1}} - check if value is float64</li>
<li><strong>isString</strong> - {{isString .Value1}} - check if value is string</li>
<li><strong>isMap</strong> - {{isMap .Value1}} - check if value is map</li>
<li><strong>regexMatch</strong> - {{regexMatch pattern .Value1}} more about go <a href="https://gobyexample.com/regular-expressions">regex</a></li>
<li><strong>replaceAll</strong> - {{replaceAll "oldValue" "newValue" .Value}} - replace all occurences of "oldValue" with "newValue" e.g. {{replaceAll "x" "Z" "aaxbb"}} -&gt; "aaZbb"</li>
<li><strong>replaceAllRegex</strong> - {{replaceAllRegex "regex" "newValue" .Value}} - replace all occurences of "regex" with "newValue" e.g. {{replaceAllRegex "[a-d]", "Z" "aaxbb"}} -&gt; "ZZxZZ"</li>
<li><strong>lower</strong> - to lowercase</li>
<li><strong>trim</strong> - remove leading and trailing whitespace</li>
<li><strong>trimPrefix</strong> - {{trimPrefix "!Hello World!" "!"}} - returns "Hello World!"</li>
<li><strong>trimSuffix</strong> - {{trimSuffix "!Hello World!" "!"}} - returns "!HelloWorld"</li>
<li><strong>mapJSON</strong> - convert stringified JSON to map so it can be used as object or translated to other formats (e.g. "toXML"). Check template.tmpl for example</li>
<li><strong>mustArray</strong> - {{mustArray .Value1}} - convert to array. Useful with XML where single node is not treated as array</li>
<li><strong>toBool</strong> - {{toBool "true"}} - string to bool</li>
<li><strong>toDecimal</strong> - {{toDecimal "3.14159"}} - cast to decimal (if error return 0)</li>
<li><strong>toDecimalString</strong> - {{toDecimalString "3.14159"}} - cast to decimal string (if error return "error message")</li>
<li><strong>toFloat64</strong> - {{float64 "3.14159"}} - cast to float64</li>
<li><strong>toInt</strong> - {{int true}} - cast to int. Result will be 1. If you need convert string with leading zeroes use "atoi"</li>
<li><strong>toInt64</strong> - {{int64 "42"}} - cast to int64. Result will be 42. If you need convert string with leading zeroes use "atoi"</li>
<li><strong>toString</strong> - {{toString 42}} - int to string</li>
<li><strong>toJSON</strong> - convert input object to JSON</li>
<li><strong>toBSON</strong> - convert input object to BSON</li>
<li><strong>toYAML</strong> - convert input object to YAML</li>
<li><strong>toXML</strong> - convert input object to XML</li>
<li><strong>trimAll</strong> - {{trimAll "!Hello World!" "!"}} - returns "Hello World"</li>
<li><strong>upper</strong> - to uppercase</li>
<li><strong>uuid</strong> - generate UUID</li>
</ul>
<h4 id="lua-custom-functions">Lua custom functions</h4>
<p>You can write your own custom lua functions defined in ./lua/functions.lua file</p>
<p>Call Lua function in template ("sum" - Lua function name)</p>
<pre><code>{{lua &quot;sum&quot; .val1 .val2}}
</code></pre>
<ul>
<li>Input is always passed as stringified JSON and should be decoded (json.decode(incomingData))</li>
<li>Output must be passed as string</li>
<li>lua table array starts with 1</li>
<li>Lua <a href="http://www.lua.org/manual/5.1/">documentation</a></li>
</ul>
<p>Minimal functions.lua example</p>
<pre><code class="language-lua">json = require './lua/json'

function sum(incomingData)
    dataTable = json.decode(incomingData)
    return tostring(tonumber(dataTable[1]) + tonumber(dataTable[2]))
end
</code></pre>
<p>Check <a href="examples/">examples</a> and <strong>template.tmpl</strong> and <strong>testdata.xml</strong> for advanced examples</p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = ".",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="js/base.js"></script>
        <script src="search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>

<!--
MkDocs version : 1.6.1
Build Date UTC : 2025-09-05 22:29:06.218141+00:00
-->
